---
// src/components/Footer.astro
const today = new Date();
---

<footer class="border-t border-surface-border bg-surface-container-lowest flex flex-col md:flex-row justify-between items-center px-margin-page py-stack-lg w-full gap-8">
  <div class="font-headline-md text-headline-md font-bold text-on-surface">
      Joel Luis dos Santos
  </div>
  <div class="text-text-muted font-label-sm text-label-sm text-center md:text-left">
      © {today.getFullYear()} 👨‍💻 Tech Enthusiast | 🎓Computer Science & Engineering Student🚀
  </div>
  <div class="flex gap-8">
      <a class="font-label-sm text-label-sm text-text-muted hover:text-cyber-orange underline transition-all hover:translate-x-1" href="https://linkedin.com/in/joel-luís-dos-santos-0ba20b286">LinkedIn</a>
      <a class="font-label-sm text-label-sm text-text-muted hover:text-cyber-orange underline transition-all hover:translate-x-1" href="https://github.com/Dossantosjoel7">GitHub</a>
      <a class="font-label-sm text-label-sm text-text-muted hover:text-cyber-orange underline transition-all hover:translate-x-1" href="https://dinq.me/dossantosjoel7">Dinq.me</a>
  </div>
</footer>